<!DOCTYPE html>
<html lang="en" class=" js no-touch cssanimations csstransitions"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock title%}测试页</title>
    <meta name="author" content="Codrops">
	
</head>
<body>
<h1>这是测试</h1>
<ul>
{%for hero in page%}
<li>{{hero.hname}}</li>
{%endfor%}
</ul>
{%for index in page.paginator.page_range%}
{% if index == page.number%}
	{{index}}
{% else %}
<a href="{{index}}">{{index}}</a>
{%endif%}
{%endfor%}
</body>
</html>